*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color:#1E2126;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12vh;
    /* background-color: #fff; */

}

.left{
    position: relative;
}

nav .left h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 22px;
    color: #858689;
    position: absolute;
    top: -12px;
    left: -60px;
}

nav .center{
    display: flex;
    gap: 30px;

}


nav .center a{
    font-weight: 100;
    color:#ADAEAF ;
    text-decoration: none;
    font-size: 17px;
}
nav .center a:hover{
    color:#EEB627 ;
    text-decoration: underline dotted;
}
nav .right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .right h2{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    padding-right:15px ;
    color: rgb(255, 255, 255);
    border-right: 1px solid #858689;
}

.smallimage{
    position: absolute;
    top: -10px;
    left: 90px;
    height: 40px;
    width:40px;
    /* background-color: red; */
    /* overflow: hidden; */
    border-radius: 50%;
}

.smallimage img{
    height:40px ;
    width: 45px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
    width: 100%;
    /* background-color: #fff; */
}

.contentleft{
    position: relative;
    height: 90vh;
    width: 50%;
    /* background-color: orange; */
}

.contentleft h1{
    position: absolute;
    top: 170px;
    left: 128px;
    color: white;
    font-size: 98px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contentleft h1 span{
    font-weight: 100;
    font-family:sans-serif;
    color:#858689 ;
}


.contentleft p{
    position: absolute;
    top: 130px;
    font-size: 17px;
    left: 130px;
    color: #858689;
}

.contentleft .para{
    position: absolute;
    top: 340px;
    left: 135px;
    font-size: 25px;
    width: 25%;
}

.contentanimation{
    /* z-index: (999); */
   
    /* background-color: rgb(161, 222, 135);
color: transparent;
    -webkit-background-clip: text;
     background-image: url(./Assets/GIFIMAGE.webp); */
}

.last{
    position: relative;
    display: flex;
    gap: 40px;

}

.iconeimage{
    position: absolute;
    top: 350px;
    left: 370px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    border-right: 0.5px solid #858689;
}
.icon i{
    font-size:30px;
    color: white;
}

.icon h5{
    font-size: 18px;
    width: 100%;
    color: white;
}


#icon3{
    border: none;
}

.contentanimation{
    position: relative;
    display: flex;
    height: 90vh;
    width: 50%;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.gola{
    z-index: 9;
    position: relative;
    height: 300px;
    width:300px;
    color: white;
    background: linear-gradient(325deg,rgba(69, 69, 69, 1) 0%, rgba(255, 255, 255, 1) 73%);
    border-radius: 50%;
}

.gola button{
    position: absolute;
    z-index: 9;
    top: 180px;
    left: 70px;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    background-color: #1E2126;
    transition: all ease-in 0.2s;
    backface-visibility:hidden;
    scale: 0.9;
}

.gola button:hover{
    scale: 1.04;
/* transform: rotate(360deg);  */
}
.gola h1{
    position: absolute;
    top:  100px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 80px;
    color: #1E2126;
}
.gola .lin{
    position: absolute ;
    top: 111px;
    left:172px;
    height: 8%;
    width: 0.7px;
    background:#858689;
}
.gola h4{
    position: absolute;
    top: 100px;
    z-index: 9;
    left: 190px;
    font-size: 20px;
    color: #858689;
}

.gola h4 span{
    z-index: 9;
    color: #1E2126;
}

.cir{
    position: absolute;
    /* top: 15%; */
    border-radius: 50%;
    height: 0vw;
    width: 0vw;
    border: 2px solid #fff;   
}

#cir-1{
    animation: myani 3s infinite 1s linear;
}

#cir-2{
    animation: myani 3s infinite 1.5s linear ;
}

#cir-3{
    animation: myani 3s infinite 2s linear ;
}

@keyframes myani {
    0%{
        height: 0vw;
        width: 0vw;
    }
    50%{
        opacity: 1;
    }
     100%{
        opacity: 0;
        height: 40vw;
        width: 40vw;
    }   
}

/* .contentanimation{
    color: transparent;
    -webkit-background-clip: text;
     background-image: url(./Assets/GIFIMAGE.webp);
     background-position: center;    
} */

.two{
    position: relative;
    height: 100%;
    width: 100% ;
    border-radius: 0px 0px 50px 50px;
    background-color: #1E2126;
}

.yellowala{
    position: absolute;
    position: relative;
    top: 10%;
    height: 90vh;
    width: 80%;
     background-color: #F6C02A;
     border-radius: 0px 0px 50px 50px;
}

#chaka{
    position: absolute;
    top: -160%;
    left: -50%;
    height: 1200px;
    width: 1200px;
}
#handal{
      position: absolute;
    top: -13%;
    left: 60%;
      height: 200px;
      width: 240px;

}

#loha{
    position: absolute;
    top: -13%;
    left: 90%;
    height: 200px;
    width: 200px;

}
#map{
     position: absolute;
    top: 40%;
    left: 15%;
    height: 250px;
    width: 350px;
    border-radius: 10px;
}
#aura{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 95%;
}
.yellowala h1{
    position: absolute;
    top: 45%;
    font-weight: 500;
    line-height: 1;
    left: 50%;
    width: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.yellowala p{
    position: absolute;
    top: 60%;
    color: #333333;
    width: 430px;
    left: 50%;
    font-size: 23px;
    
}

.three{
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: orange; */
}

.left{

    height:100vh;
    width: 50%;
    /* background-color: #1E2126; */
}

.left h1{
    padding: 20% 13% 5%;
    font-size: 60px;
    
    
}

.left h1 span{
    font-weight: 400;
}

.left h5{
    margin-bottom: 3%;
    font-size: 20px;
    padding-left: 13%;
}

.lie{
    margin-left: 13%;
    height: 0.4px;
    width: 87%;
   background: linear-gradient(275deg,rgba(41, 41, 41, 1) 0%, rgba(112, 112, 112, 1) 100%);
}

.left p{
     margin-top: 3%;
     padding-left: 13%;
     font-size: 20px;
     width: 410px;
     color: #858689;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right{
    position: relative;
    height: 100vh;
    width: 50%;
    /* background-color: blue; */
}

#cycle-ke-ange{
    position: absolute;
    left: -16%;
    top: 34%;
    height:70%;
    width: 50%;
}

#chaka-2{
    position: absolute;
    top: 10%;
    left: 20%;
    height:115%;
    width: 115%;
}

.pilagola{
    position: absolute;
    top: 50%;
    left: -1%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: yellow;
    transition: all ease 0.5s;
}

.pilagola:hover{
    scale: 1.2;
}

.seeyou{
    position: absolute;
    top: 59%;
    left: -10px;
    /* box-shadow: 10px 10px 20px rgb(107, 145, 145); */
    height: 100px;
    width: 100px;
    background-color:aqua;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(56, 255, 253, 0.15));
    clip-path: polygon(14% 48%, 81% 0, 62% 49%, 93% 50%, 25% 100%, 39% 48%);

}